[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
django = "*"
django-compressor = "*"
django-storages = "*"
gunicorn = "*"
holidays = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
django-markdownfield = "*"
pillow = "*"
django-mptt = "*"

[dev-packages]
libsass = "*"
prospector = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-libsass = "*"

[requires]
python_version = "3.9"
