<span
  class="business-status"
  data-closing-time="{{ business_closing.isoformat }}"
  data-opening-time="{{ business_opening.isoformat }}"
>
  {% if business_closing %}
    Zavíráme
    <time
      class="business-opening-time"
      datetime="{{ business_closing.isoformat }}"
    >{{ business_closing }}</time>
  {% elif business_opening %}
    Znovu otevřeme
    <time
      class="business-closing-time"
      datetime="{{ business_opening.isoformat}}"
    >{{ business_opening }}</time>
  {% else %}
    Máme zavřeno
  {% endif %}
</span>
