<footer class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Otevíračka</h5>
        <p>
        {% include 'components/business-status.html' %}<br />
          <a class="link-secondary" href="{% url 'website:contact' %}#oteviraci-doba">
            naplánujte si kdy se stavíte.
          </a>
        </p>
      </div>
      <nav class="col-md-4">
        <h5>Rychlé odkazy</h5>
        <ul class="list-unstyled">
          <li>
            <a class="link-secondary" href="{% url 'website:home' %}">Sortiment</a>
          </li>
          <li>
            <a class="link-secondary" href="{% url 'website:contact' %}">Kontakt</a>
          </li>
          <li>
            <a class="link-secondary" href="{% url 'website:contact' %}#parkovani">Parkování</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
