<footer class="bg-dark py-3 py-sm-4 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <strong class="footer-heading">Otevíračka</strong>
        <p>
        {% include 'components/business-status.html' %}<br />
          <a class="link-secondary" href="{% url 'website:contact' %}#oteviraci-doba">
            Naplánujte si, kdy se stavíte.
          </a>
        </p>
      </div>
      <nav class="col-md-4">
        <strong class="footer-heading">Rychlé odkazy</strong>
        <ul class="list-unstyled">
          <li>
            <a class="link-secondary" href="{% url 'website:contact' %}">Kontakt</a>
          </li>
          <li>
            <a class="link-secondary" href="{% url 'website:contact' %}#parkovani">Parkování</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
