@import "./variables.scss";

.contact-header {
  background-image: url(../og/tea.jpg);
}

.address-box {
  background: lighten($light, 15%);
  padding: $spacer;
  max-width: 340px;
  @include border-radius($card-border-radius);

  dl {
    margin-bottom: 0;
  }
}
