@import "./variables.scss";

header {
  background-size: cover;
  background-position: center center;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1, & {
    color: $white;
  }

  .header-content {
    background: rgba($black, 0.75);
  }
}
