@import "./variables.scss";
@import "../vendor/bootstrap/scss/bootstrap.scss";
@import "./home.scss";
@import "./business.scss";
@import "./contact.scss";
@import "./products.scss";

.dl-inline {
  dd, dt {
    display: inline;
  }
}

html, body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

main, .main {
  flex-grow: 1;
  margin-bottom: 1rem;
}

footer {
  background-color: #ccc;
}

