@import "./variables.scss";
@import "../../../vendor/bootstrap/scss/bootstrap.scss";

.dl-inline {
  dd, dt {
    display: inline;
  }
}

html, body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

main, .main {
  flex-grow: 1;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, strong {
  color: $primary;
}

h1 small {
  font-size: $h1-font-size / 2;
}

p {
  max-width: 38rem;
}

img.mw {
  max-width: 100%;
}

.breadcrumb-icon {
  display: flex;
  align-items: center;
}

@import "./header.scss";
@import "./footer.scss";

@import "./home.scss";
@import "./business.scss";
@import "./contact.scss";
@import "./products.scss";
