$color-golden-sand: #F5D174;
$color-bush: #103c1e;
$light: $color-golden-sand;
$dark: $color-bush;

$black: #261a1c;
$white: lighten($color-golden-sand, 25%);

$body-color: lighten($black, 10%);
$link-color: #0092B8;

@import "../vendor/bootstrap/scss/_functions.scss";
@import "../vendor/bootstrap/scss/_variables.scss";
