<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'website:home' %}">
      <img
        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-top"
      >
      Čaje z celého světa
    </a>
    <button
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Rozbalit nabídku"
      class="navbar-toggler"
      data-bs-target="#navbarMenu"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            aria-expanded="false"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            id="catalogDropdownLink"
            role="button"
          >Nabídka</a>
          <ul class="dropdown-menu" aria-labelledby="catalogDropdownLink">
            {% for category, item in catalog_categories %}
              <li>
                <a
                  class="dropdown-item"
                  href="{% url 'website:catalog_category' category %}"
                >{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:contact' %}">Kontakty</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
