{% extends 'content.html' %}

{% block content %}
<main>
  <div class="container mt-3">
    <h1>
      {{ product.name }}
      {% if product.local_name %}
        <small class="d-block">
          {{ product.local_name }}
        </small>
      {% endif %}
    </h1>

    {% if description.text_rendered %}
      <div>
        {{description.text_rendered | safe}}
      </div>
    {% endif %}

    {% if variants %}
      <h2>Varianty</h2>
      <ul>
        {% for variant in variants %}
          <li>
            <a href="{% url 'website:product_detail' product_slug=variant.slug %}">{{ variant.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if usage.text_rendered %}
      <div>
        <h2>Příprava</h2>
        {{usage.text_rendered | safe}}
      </div>
    {% endif %}
  </div>
</main>
{% endblock %}
