{% extends 'content.html' %}

{% block content %}
<main>
  <div class="container mt-3">
    <h1>
      {{ product.name }}
      {% if product.local_name %}
        <br />
        <small>{{ product.local_name }}</small>
      {% endif %}
    </h1>

    {% if description.text_rendered %}
      <div>
        {{description.text_rendered | safe}}
      </div>
    {% endif %}
    {% if usage.text_rendered %}
      <div>
        {{usage.text_rendered | safe}}
      </div>
    {% endif %}
  </div>
</main>
{% endblock %}
