{% extends 'content.html' %}

{% block content %}
<main>
  <div class="container mt-3 mt-md-4 mt-lg-5">
    <h1>Nabídka čajů</h1>

    <p class="lead">Nabízíme čaje z celého světa.</p>
  </div>
  <section>
    <div class="illustration tea"></div>
    <div class="container">
      <h2>Černý</h2>
      <ul>
        <li>Indie, Nepál</li>
        <li>Ceylon</li>
        <li>Čína</li>
        <li>Pu-erh čaj</li>
        <li>Směsi černých čajů</li>
        <li>Černé čaje z ostatních zemí</li>
        <li>Černé čaje ochucené</li>
        <li>Černé čaje aromatizované</li>
        <li>Pu-erh čaj aromatizovaný</li>
      </ul>

      <h2>Zelený</h2>
      <ul>
        <li>Čína, Taiwan</li>
        <li>Japonsko</li>
        <li>Zelené čaje z ostatních zemí</li>
        <li>Zelené čaje ochucené</li>
        <li>Zelené čaje aromatizované</li>
        <li>Raritní zelené čaje</li>
        <li>Indie, Nepál</li>
        <li>Ceylon</li>
      </ul>
      <h2>Ovocný</h2>
      <h2>Bílý</h2>
      <h2>Bylinný</h2>
      <h2>Roibos</h2>
      <h2>Oolong</h2>
      <h2>Maté</h2>
      <h2>Matcha</h2>
      <h2>Ledový čaj</h2>
      <h2>Pečený čaj</h2>
    </div>
  </section>
</main>
{% endblock %}
