{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}
  {% block og %}{% endblock %}
  <meta property="og:title" content="{{page_title}}" />
  <meta property="og:site_name" content="{{site_name}}" />
  <meta property="og:description" content="{{page_description}}" />
  <meta property="og:url" content="{{request.build_absolute_uri}}" />
  <meta property="og:image" content="{% static 'og/tea-x500.webp' %} />
  <meta property="og:image" content="{% static 'og/shop-x500.webp' %} />
  <title>{{page_title}}</title>
  {% block scripts %}{% endblock %}
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js"></script>
  <script type="text/javascript" src={% static 'scripts/business.js' %}></script>
  {% block styles %}{% endblock %}

  <link rel="stylesheet" type="text/css" href="{% sass_src 'styles/site.scss' %}" />
</head>
<body>
  {% block body %}{% endblock %}
  {% include 'components/footer.html' %}
</body>
</html>
