{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="cs-CZ">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}
  {% block og %}{% endblock %}
  <meta property="og:title" content="{{page_title}}" />
  <meta property="og:site_name" content="{{site_name}}" />
  <meta property="og:description" content="{{page_description}}" />
  <meta property="og:url" content="{{request.build_absolute_uri}}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% static 'og/tea-x500.webp' %}" />
  <meta property="og:image" content="{% static 'og/shop-x500.webp' %}" />
  <title>{{page_title}}</title>
  {% block scripts %}{% endblock %}

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KM598FR');</script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js"></script>
  <script src={% static 'scripts/business.js' %}></script>
  {% block styles %}{% endblock %}

  <link rel="stylesheet" type="text/css" href="{% sass_src 'styles/site.scss' %}" />
</head>
<body>
  {% block body %}{% endblock %}
  {% include 'components/footer.html' %}
</body>
</html>
