{% extends "content.html" %}

{% block content %}
<main>
  <div class="container">
    <ul>
      {% for url, item in catalog %}
        <li>
          <a href="{% url 'website:catalog_category' category=url %}">{{item.name}}</a>
        </li>
      {% endfor %}
      <li>Káva</li>
      <li>Zobání</li>
      <li>Přírodní věci</li>
      <li>Bylinky</li>
      <li>Med, Medoviny</li>
      <li>Porcelán</li>
      <li>Kosmetika</li>
      <li>Příslušenství</li>
    </ul>
  </div>
</main>
{% endblock %}
