{% extends "content.html" %}

{% load static %}

{% block content %}
<article class="main">
  <header class="contact-header">
    <div class="header-content py-3">
      <div class="container">
        <h1 class="display-3">Kde nás najdete</h1>
        <p class="lead">Chybí vám trocha offline kontaktu? Stavte se na kus řeči.</p>
      </div>
    </div>
  </header>

  <div class="container mt-3 mt-lg-5">
    <div class="row">
      <div class="col-md-6">
        <section class="row">
          <h2>Adresa</h2>
          <address class="address-box">
            <p class="lead">
              Čaje z celého světa<br />
              Masarykovo náměstí 1489<br />
              295 01 Mnichovo Hradiště
            </p>

            <dl>
              <div class="dl-inline-item">
                <dt>E-mail:</dt>
                <dd><a href="mailto:">test@example.com</a></dd>
              </div>
              <div class="dl-inline-item">
                <dt>Telefonní číslo:</dt>
                <dd><a href="tel:+420605047093">+420 605 047 093</a></dd>
              </div>
            </dl>
          </address>
        </section>

        <section class="row" id="oteviraci-doba">
          <h2>Otevírací doba</h2>
          <p class="lead">{% include 'components/business-status.html' %}</p>
          {% include 'components/business-hours.html' %}
        </section>
        
        <section>
          <h2>Fakturační údaje</h2>
          <address>
            Miloslava Lásková<br />
            Lidická 1002<br />
            29501 Mnichovo Hradiště
          </address>
          <dl class="dl-inline">
            <div class="dl-inline-item">
              <dt>IČ:</dt>
              <dd>86554018</dd>
            </div>
            <div class="dl-inline-item">
              <dt>DIČ:</dt>
              <dd>CZ86554018</dd>
            </div>
          </dl>
        </section>
      </div>

      <div class="col-md-6">
        <section id="parkovani">
          <h2>Parkování</h2>
          <p>
            Zaparkovat se dá na <a href="http://google.com/maps/dir/?api=1&amp;destination=Masarykovo%20nám.%201489,%20295%2001%20Mnichovo%20Hradiště" class="link-ext">Masarykovo náměstí</a>, pěšky od auta je to 15 metrů.
          </p>
          <a
            href="http://google.com/maps/dir/?api=1&amp;destination=Masarykovo%20nám.%201489,%20295%2001%20Mnichovo%20Hradiště"
            class="link-ext"
          >
            <img class="mw" src="{% static 'illustrations/parking-map.webp' %}" alt="Mapa s parkovištěm" />
          </a>
        </section>
      </div>
    </div>
  </div>
</article>
{% endblock %}
